<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/laptops.png" alt="" >
  </div>
  <div class="headings">
    <h2>IT Master</h2>
    <h3>Laptops for the future</h3>
    <a href="/specifications" class="btn">View Laptops</a>
  </div>
</header>


<%- include('partials/footer'); -%>