<%- include('partials/header'); -%>

<ul class="laptops">
  <li class="laptop">
    <img src="/asusLaptop.png" alt="laptopspecs" class="lapimage">
    <h4>Asus TUF Gaming F15 FX507ZC</h4>
    <p>
      <ul>
        <li>Intel Core i7 – 12700H Processor </li>
        <li>8GB DDR4 RAM</li>
        <li>512GB M.2 NVMe SSD</li>
        <li>15.6″ FHD, 144Hz Display</li>
        <li>4GB Nvidia GeForce RTX 3050Ti Graphics</li>
        <li>Windows 11 Home</li>
      </ul>
    </p>
  </li>
  <li class="laptop">
    <img src="/dellLaptop.png" alt="laptopspecs" class="lapimage">
    <h4>Dell Inspiron 3511</h4>
    <p>
      <ul>
        <li>Intel Core i5-1135G7 11th Gen Processor </li>
        <li>4GB DDR4 Ram</li>
        <li>1TB Sata Hard Drive</li>
        <li>15.6″ FHD Display</li>
        <li>2GB MX330 Geforce Nvidia Graphics</li>
        <li>Windows 11 Home +Office</li>
      </ul>
    </p>
  </li>
  <li class="laptop">
    <img src="/msiLaptop.png" alt="laptopspecs" class="lapimage">
    <h4>MSI Katana GF66 11UC</h4>
    <p>
      <ul>
        <li>Tiger Lake Core i5 11400H Processor</li>
        <li>16GB DDR4 Ram</li>
        <li>512GB SSD Hard Drive</li>
        <li>15.6″ 144Hz IPS Display</li>
        <li>4GB Nvidia GeForce RTX3050 Graphics</li>
        <li>Windows 10 Home</li>
      </ul>
    </p>
  </li>
  <li class="laptop">
    <img src="/dellLaptop.png" alt="laptopspecs" class="lapimage">
    <h4>Dell Inspiron 3511</h4>
    <p>
      <ul>
        <li>Intel Core i5-1135G7 11th Gen Processor </li>
        <li>4GB DDR4 Ram</li>
        <li>1TB Sata Hard Drive</li>
        <li>15.6″ FHD Display</li>
        <li>2GB MX330 Geforce Nvidia Graphics</li>
        <li>Windows 11 Home +Office</li>
      </ul>
    </p>
  </li>
  <li class="laptop">
    <img src="/asusLaptop.png" alt="laptopspecs" class="lapimage">
    <h4>Asus TUF Gaming F15 FX507ZC</h4>
    <p>
      <ul>
        <li>Intel Core i7 – 12700H Processor </li>
        <li>8GB DDR4 RAM</li>
        <li>512GB M.2 NVMe SSD</li>
        <li>15.6″ FHD, 144Hz Display</li>
        <li>4GB Nvidia GeForce RTX 3050Ti Graphics</li>
        <li>Windows 11 Home</li>
      </ul>
    </p>
  </li>
  <li class="laptop">
    <img src="/msiLaptop.png" alt="laptopspecs" class="lapimage">
    <h4>MSI Katana GF66 11UC</h4>
    <p>
      <ul>
        <li>Tiger Lake Core i5 11400H Processor</li>
        <li>16GB DDR4 Ram</li>
        <li>512GB SSD Hard Drive</li>
        <li>15.6″ 144Hz IPS Display</li>
        <li>4GB Nvidia GeForce RTX3050 Graphics</li>
        <li>Windows 10 Home</li>
      </ul>
    </p>
  </li>
</ul>
  

<%- include('partials/footer'); -%>